@charset "utf-8";
/* CSS Document */

/*初始化所有标签*/
html,body{
	margin:0px;
	padding:0px;
	text-align:center;
	font:12px "微软雅黑","\5B8B\4F53",Arial, Helvetica, sans-serif;
}
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,p,img{							
	padding:0;
	margin:0;
}
h1,h2,h3,h4,h5,h6 {
	font-size:12px; 
	font-weight:normal;
}
img{
	vertical-align:top;
	border:0;
}
ol,ul{
	list-style:none;
}
table{ 
	border-collapse:collapse; 
}
table,td,tr,th{
	font-size:12px;
}
a{
	text-decoration:none;
	blr:expression(this.onFocus=this.blur());
	outline:none;
	-moz-outline:none; 
	color:#000;
}
a:hover{
	text-decoration:underline;
}

/*所有标签用如下去除浮动*/
.removefloat{
	zoom:1;
}
.removefloat:after{
	height:0px;
	line-height:0px;
	clear:both;
	display:block;
	content:"";
	visibility:visible;
}
.container{
	position:relative;
	z-index:1;
}
/*header头部*/
#header{
	margin:0px auto;
	width:1100px;
	text-align:left;
	position:relative;
	z-index:9909;;
}

.jzw{
	margin:0px 0px 12px 0px;
}

.zlink{
	width:1030px;
	margin:0px auto;
	text-align:left;
}
.jzw a{
	display:inline-block;
	width:138px;
	text-align:center;
	text-decoration:none;
	color:#666;
}

.jzw a:hover{
	color:#006699;
}
.jzw a strong{
	display:block;
	font-weight:normal;
	margin-top:4px;
}


/*fenye*/
.flickr{
	text-align:center;
	font-size:12px;
    clear:both;
	margin-top:24px;
}
.flickr a{
	border:1px solid #ddd;
	padding:6px 10px;
	margin:0px 1px;
	color:#555;
	text-decoration:none;
    cursor:pointer;
}
.flickr a:hover{
	color:#1e3e71;
	background-color:#d0e7f3;
	border:1px solid #0370ab;
}
.flickr span{
	margin:0px 2px;
}
.flickr b{
	font-weight:500;
	margin-right:2px;
	color:#c52128;
}
.nrminh {
min-height:450px;
}

.flickr span.disabled{
	padding:2 6px;
	margin-right:3px;
	color:#adaaad;
}

/*footer网页尾部*/
#footer{
	background:url("foter.jpg")/*tpa=http://www.semia.com.cn/Stem/images/foter.jpg*/ repeat-x;
	padding:6px 0px;
	color:#fff;
	line-height:18px;
	margin-top:40px;
}

