.zxfb_c {
    width: 1000px;
    background-color:#fff;
    margin:0px auto;
    border:1px solid #ffd900;
    padding:20px 0px;
}
#main
{
    background: url("chinabg.jpg")/*tpa=http://www.semia.com.cn/images/chinabg.jpg*/ no-repeat;
    margin: 0px auto;
    width: 960px;
    height: 560px;
    text-align:left;
    zoom:1;
}

#left
{
    width: 270px;
    float: left;
}
#left dl
{
    background: rgb(255, 248, 219);
    padding: 10px;
    width: 236px;
    height: 395px;
    color: rgb(239, 124, 0);
    line-height: 22px;
    margin-bottom: 12px;
    border: 1px solid #ffd900;
}
#left dl dt
{
    padding-top: 5px;
    font-weight: bold;
}
#left dl dd
{
    padding-left: 15px;
}
#left dl a
{
    color: rgb(51, 51, 51);
    margin-right: 5px;
}
#left dl a:hover
{
    text-decoration: underline;
}
#right
{
    width: 650px;
    height: 510px;
    padding-top: 10px;
    padding-left: 40px;
    float: left;
}
#chinamap
{
    width: 610px;
    height: 480px;
    position: relative;
}
#chinamap dd
{
    background: url("chinabg.gif")/*tpa=http://www.semia.com.cn/images/chinabg.gif*/ no-repeat -965px -611px;
    width: 35px;
    height: 20px;
    text-align: center;
    color: rgb(0, 0, 0);
    line-height: 20px;
    display: block;
    position: absolute;
    cursor: pointer;
}
#chinamap dd.over
{
    background: url("chinaitemover.gif")/*tpa=http://www.semia.com.cn/images/chinaitemover.gif*/ no-repeat;
    color: rgb(255, 255, 255);
}
#chinamap dt
{
    background: url("chinabg.gif")/*tpa=http://www.semia.com.cn/images/chinabg.gif*/ no-repeat;
    width: 70px;
    height: 70px;
    position: absolute;
}
#chinamap dt.xinjiang
{
    left: 17px;
    top: 52px;
    width: 230px;
    height: 170px;
}
#chinamap dt.neimenggu
{
    background-position: -270px 0px;
    left: 256px;
    top: 23px;
    width: 270px;
    height: 200px;
}
#chinamap dt.xizang
{
    background-position: -560px 0px;
    left: 36px;
    top: 206px;
    width: 225px;
    height: 145px;
}
#chinamap dt.qinghai
{
    background-position: -810px 0px;
    left: 157px;
    top: 187px;
    width: 155px;
    height: 105px;
}
#chinamap dt.sichuan
{
    background-position: 0px -205px;
    left: 242px;
    top: 263px;
    width: 140px;
    height: 110px;
}
#chinamap dt.yunnan
{
    background-position: -150px -205px;
    left: 224px;
    top: 328px;
    width: 120px;
    height: 115px;
}
#chinamap dt.gansu
{
    background-position: -270px -205px;
    left: 211px;
    top: 149px;
    width: 170px;
    height: 150px;
}
#chinamap dt.heilongjiang
{
    background-position: -470px -205px;
    left: 472px;
    top: 15px;
    width: 170px;
    height: 150px;
}
#chinamap dt.jilin
{
    background-position: -654px -205px;
    left: 491px;
    top: 103px;
    width: 110px;
    height: 70px;
}
#chinamap dt.liaoning
{
    background-position: -790px -205px;
    left: 473px;
    top: 139px;
    width: 95px;
    height: 75px;
}
#chinamap dt.hebei
{
    background-position: -882px -205px;
    left: 397px;
    top: 154px;
    width: 90px;
    height: 90px;
}
#chinamap dt.guangxi
{
    background-position: 0px -399px;
    left: 315px;
    top: 368px;
    width: 100px;
    height: 70px;
}
#chinamap dt.guizhou
{
    background-position: -120px -399px;
    left: 308px;
    top: 331px;
    width: 80px;
    height: 65px;
}
#chinamap dt.guangdong
{
    background-position: -232px -398px;
    left: 372px;
    top: 378px;
    width: 105px;
    height: 75px;
}
#chinamap dt.hunan
{
    background-position: -363px -399px;
    left: 371px;
    top: 316px;
    width: 70px;
    height: 80px;
}
#chinamap dt.jiangxi
{
    background-position: -470px -399px;
    left: 425px;
    top: 317px;
    width: 60px;
    height: 80px;
}
#chinamap dt.fujian
{
    background-position: -560px -399px;
    left: 454px;
    top: 338px;
}
#chinamap dt.zhejiang
{
    background-position: -647px -399px;
    left: 481px;
    top: 301px;
}
#chinamap dt.chongqing
{
    background-position: -718px -399px;
    left: 338px;
    top: 293px;
}
#chinamap dt.hubei
{
    background-position: -805px -399px;
    left: 369px;
    top: 278px;
    width: 100px;
    height: 70px;
}
#chinamap dt.ningxia
{
    background-position: -935px -399px;
    left: 324px;
    top: 200px;
    width: 50px;
    height: 60px;
}
#chinamap dt.shaanxi
{
    background-position: 0px -533px;
    left: 334px;
    top: 197px;
    width: 65px;
    height: 105px;
}
#chinamap dt.shanxi
{
    background-position: -147px -535px;
    left: 388px;
    top: 183px;
    width: 65px;
    height: 105px;
}
#chinamap dt.henan
{
    background-position: -247px -535px;
    left: 392px;
    top: 239px;
    width: 80px;
    height: 70px;
}
#chinamap dt.anhui
{
    background-position: -381px -535px;
    left: 440px;
    top: 260px;
}
#chinamap dt.shandong
{
    background-position: -481px -535px;
    left: 438px;
    top: 216px;
}
#chinamap dt.jiangsu
{
    background-position: -590px -535px;
    left: 458px;
    top: 255px;
}
#chinamap dt.hainan
{
    background-position: -680px -535px;
    left: 354px;
    top: 448px;
}
#chinamap dt.taiwan
{
    background-position: -795px -535px;
    left: 496px;
    top: 376px;
}
#chinamap dt.beijing
{
    background-position: -880px -535px;
    left: 440px;
    top: 179px;
}
#chinamap dt.tianjin
{
    background-position: -880px -535px;
    left: 455px;
    top: 207px;
}
#chinamap dt.shanghai
{
    background-position: -880px -535px;
    left: 500px;
    top: 295px;
}
#beijing
{
    left: 440px;
    top: 165px;
}
#shanghai
{
    left: 510px;
    top: 289px;
}
#tianjin
{
    left: 454px;
    top: 197px;
}
#chongqing
{
    left: 347px;
    top: 306px;
}
#hebei
{
    left: 415px;
    top: 197px;
}
#shanxi
{
    left: 386px;
    top: 227px;
}
#henan
{
    left: 402px;
    top: 260px;
}
#liaoning
{
    left: 496px;
    top: 160px;
}
#jilin
{
    left: 523px;
    top: 122px;
}
dd#heilongjiang
{
    background: url("chinabg.gif")/*tpa=http://www.semia.com.cn/images/chinabg.gif*/ no-repeat -960px -579px;
    left: 530px;
    top: 82px;
    width: 40px;
}
dd#neimenggu
{
    background: url("chinabg.gif")/*tpa=http://www.semia.com.cn/images/chinabg.gif*/ no-repeat -960px -579px;
    left: 399px;
    top: 135px;
    width: 40px;
}
#shandong
{
    left: 460px;
    top: 230px;
}
#jiangsu
{
    left: 490px;
    top: 262px;
}
#anhui
{
    left: 450px;
    top: 286px;
}
#zhejiang
{
    left: 495px;
    top: 317px;
}
#fujian
{
    left: 468px;
    top: 356px;
}
#hubei
{
    left: 395px;
    top: 292px;
}
#hunan
{
    left: 384px;
    top: 344px;
}
#jiangxi
{
    left: 433px;
    top: 339px;
}
#guangdong
{
    left: 406px;
    top: 392px;
}
#guangxi
{
    left: 351px;
    top: 391px;
}
#hainan
{
    left: 370px;
    top: 450px;
}
#sichuan
{
    left: 289px;
    top: 300px;
}
#guizhou
{
    left: 334px;
    top: 353px;
}
#yunnan
{
    left: 270px;
    top: 382px;
}
#xizang
{
    left: 128px;
    top: 278px;
}
#qinghai
{
    left: 215px;
    top: 231px;
}
#shaanxi
{
    left: 357px;
    top: 252px;
}
#gansu
{
    left: 275px;
    top: 194px;
}
#ningxia
{
    left: 326px;
    top: 220px;
}
#xinjiang
{
    left: 106px;
    top: 148px;
}
#taiwan
{
    left: 500px;
    top: 390px;
}
#centerlist
{
    background: url("chinacenterbg.jpg")/*tpa=http://www.semia.com.cn/images/chinacenterbg.jpg*/ no-repeat;
    padding: 0px 10px;
    width: 580px;
    height: 480px;
    color: rgb(33, 99, 155);
    position: relative;
}
.hide
{
    display: none;
}
#centerlist a.close
{
    top: 40px;
    right: 15px;
    color: rgb(255, 0, 0);
    position: absolute;
}
#centerlist h1
{
    padding: 7px 0px;
    height: 25px;
    line-height: 25px;
    font-size: 14px;
    font-weight: bold;
    text-align:left;
}
#centerlist dl
{
    width: 185px;
    height: auto;
    padding-bottom: 5px;
    padding-left: 5px;
    float: left;
}
#centerlist dl dt
{
    font-size: 13px;
    font-weight: bold;
}
#centerlist dl dt a
{
    color: rgb(33, 99, 155);
}
#centerlist dl dd
{
    height: 27px;
    line-height: 27px;
    overflow: hidden;
}
#centerlist dl dd a
{
    color: rgb(68, 68, 68);
}
#centerlist dl dd a:hover
{
    color: rgb(255, 51, 0);
}
#centerlist dl.list
{
    width: 570px;
}
#centerlist dl.list dd
{
    margin: 0px 12px;
    width: 160px;
    float: left;
}
#right p
{
    text-align: center;
    padding-top: 100px;
    font-size: 24px;
    font-weight: bold;
}
#right p.load
{
    color: rgb(102, 102, 102);
    line-height: 35px;
    padding-top: 130px;
    font-size: 12px;
    font-weight: normal;
}
#right p.load img
{
    margin-bottom: 5px;
}
