@charset "utf-8";
/* CSS Document */
html {overflow-y:scroll;}
html,body{
	background-color:#feecd1;
	margin:0px;
	padding:0px;
	text-align:center;
	font:12px "微软雅黑","\5B8B\4F53",sanserif;
}
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,p,img,html,body{							
	padding:0;
	margin:0;
}
h1,h2,h3,h4,h5,h6 {font-size:12px; font-weight:normal;}
img{vertical-align:top;border:0;}
ol,ul{list-style:none;}
table,td,tr,th{font-size:12px;}
body{
	padding:0px 0px 0px 0px;
}
#container{
	margin:0 auto;
	padding:0px;
}
a {text-decoration:none;blr:expression(this.onFocus=this.blur());outline:none;-moz-outline:none; color:#000;}
a:hover{
	text-decoration:underline;
}

#container #bgcontent{
	width:984px;
	margin:0px auto;
	text-align:left;
	padding:8px;
	background-color:#f48e00;
	border-radius:8px 8px;
}
#bgcontent #banner{
	width:984px;
	background-color:#ccc;
}
#bgcontent #content{
	width:984px;
	zoom:1;
	background-color:#f7f7f7;
	padding:20px 0px 12px 0px;
}
#content:after{
	clear:both;
	visibility:hidden;
	display:block;
	height:0px;
	line-height:0px;
	content:"";
}
#content .cleft{
	float:left;
	width:248px;
	border-right:1px ssolid #ccc;
	margin-left:17px;
}

#content .cright{
	float:right;
	width:693px;
	margin-right:13px;
	
}
/*.search .searchc{
	background-color:#fdf0b9;
	width:248px;
	border-radius:0px 0px 8px 8px;
	padding:18px 0px 20px 0px;
	margin-bottom:12px;
}*/
.search .searchc{
	background-color:#fdf0b9;
	width:248px;
	padding:14px 0px 14px 0px;
	margin-bottom:10px;
}
.jxal .nav_jxal,.search .nav_search{
	background:url(../images/jxal.png) no-repeat;
	width:248px;
	height:38px;
	line-height:38px;
}
/*.jxal .jcontent{
	height:314px;
	background-color:#d2d2d2;
	width:236px;
	text-align:center;
	border-radius:0px 0px 8px 8px;
	padding:22px 0px 33px 12px;
}*/
.jxal .jcontent{
	height:310px;
	background-color:#d2d2d2;
	width:236px;
	text-align:center;
	padding:16px 0px 25px 12px;
}
#MyMarqueeY {width: 220px; height: 318px; overflow: hidden;}
 #MyMarqueeY img {width: 200px; height: 144px; border: none; padding: 1px; margin: 5px}
.jcontent .sjt{
	width:248px;
	height:15px;
	background:url(../images/sxjt.png) no-repeat;
	margin-bottom:10px;
}
.jcontent .xjt{
	width:248px;
	height:15px;
	background:url(../images/sxjt.png) 0px -15px no-repeat;
}
.jcontent ul li{
	margin-bottom:10px;
	
}
/*.syw{
	background:url(../images/wlkt.png) no-repeat;
	height:124px;
	margin-bottom:12px;
}*/
.syw{
	background:url(../images/wlkt.png) no-repeat;
	height:124px;
	margin-bottom:10px;
}
.syw a{
	display:block;
	width:148px;
	height:61px;
	text-decoration:none;
}
.cright .crcontent{
	width:689px;
	zoom:1;
}
.crcontent:after{
	clear:both;
	visibility:hidden;
	display:block;
	height:0px;
	line-height:0px;
	content:"";
}
.crcontent .crcleft{
	float:left;
	width:437px;
}
.crcleft .nav_rdxw{
	background:url(../images/nav_rdxw.png) no-repeat;
	width:437px;
	height:38px;
	line-height:38px;
}
.crcontent .crcright{
	float:right;
	width:240px;
}

.crcright .nav_hdzx{
	background:url(../images/nav_hdzx.png) no-repeat;
	width:240px;
	height:38px;
	line-height:38px;
}
.cright h1,.cleft h1{
	color:#fff;
	padding-top:4px;
	margin-left:12px;
	font-size:14px;
}
.crcleft ul li{
	zoom:1;
}
.crcleft ul li:after{
	display:block;
	visibility:hidden;
	height:0px;
	line-height:0px;
	clear:both;
	content:"";
}
.crcleft ul li a{
	float:left;
	width:320px;
}
.crcleft ul li .rq{
	float:right;
	margin-right:10px;
}
.cright span.gd,.cleft span.gd{
	float:right;
	margin-right:6px;
	margin-top:4px;
}

.crcleft ul li{
	background:url(../images/rdxw.jpg) left center no-repeat;
}
.crcontent ul{
	height:328px;
	background-color:#d2d2d2;
}
.crcontent ul li{
	border-bottom:1px solid #bbb;
	height:32px;
	line-height:32px;
}
.crcright ul li{
	background:url(../images/zxbg.jpg) left center no-repeat;
}
.crcright ul li:hover{
	background:url(../images/zxbghover.jpg) no-repeat;
}
.crcleft ul li:hover{
	background:url(/images/rdxwhover.jpg) no-repeat;
}
.crcontent ul li a{
	display:block;
	padding-left:30px;
	text-decoration:none;
}
.zxxc {
	width:689px;
	margin-top:12px;
}
.zxxc .nav_zxxc{
	background:url(../images/zxxc.png) no-repeat;
	width:689px;
	height:38px;
	line-height:38px;
}
/*.zxxc .zxcontent{
	background-color:#d2d2d2;
	padding-bottom:6px;
	width:689px;
	height:306px;
	zoom:1;
}*/
.zxxc .zxcontent{
	background-color:#d2d2d2;
	padding-bottom:10px;
	width:689px;
	height:316px;
	padding-top:8px;
	zoom:1;
}
.zxcontent:after{
	clear:both;
	visibility:hidden;
	display:block;
	height:0px;
	line-height:0px;
	content:"";
}
/*.zxcontent ul li{
	float:left;
	display:inline;
	margin-left:10px;
	margin-top:10px;
}*/
.zxcontent ul li{
	float:left;
	display:inline;
	margin-left:10px;
	margin-top:14px;
}
.zxcontent ul li a{
	text-decoration:none;
	display: block;
	width: 160px;
	height: 140px;
	text-align: center;
	position: relative;
}
.zxcontent ul li img {
	width: 160px;
	height: 140px;
}
.zxcontent ul li .info{
	display:block;
	position:relative;
	display: none;
	background:url(../images/xc_bg.jpg) no-repeat #eb7722;
	color:#fff;
	width:160px;
	height:130px;
	padding:10px 0px 0px 0px;
}
.vertical .info{
	width: 0;
	margin: 0 auto;
}
/*二级页面*/
.ej_cont{
	width:1002px;
	margin:0px auto;
	text-align:left;
	margin-top:26px;
}
.tit_zx{
	text-align:left;
	color:#666;
	background:url(/images/icon/lan.png) no-repeat;
	padding:2px 0px 3px 22px;
}

.zxkc{
	height:54px;
	width:1002px;
	margin:0px auto;
	margin-top:10px;
}
.zxkc a:link,.zxkc a:visited{
	background:url(../images/zxkc/dh.png) no-repeat;
	float:left;
	display:block;
	height:54px;
	margin:0px;
	padding:0px;
	width:91px;

}
.zxkc a.zx1{
	background-position:0px 0px;
}
.zxkc a.zx2{
	background-position: -91px -0px;
}
.zxkc a.zx3{
	background-position: -181px 0px;
}
.zxkc a.zx4{
	background-position: -272px 0px;
}
.zxkc a.zx5{
	background-position: -363px 0px;
}
.zxkc a.zx6{
	background-position: -454px 0px;
}
.zxkc a.zx7{
	background-position: -545px 0px;
}
.zxkc a.zx8{
	background-position: -636px 0px;
}
.zxkc a.zx9{
	background-position: -727px 0px;
}
.zxkc a.zx10{
	background-position: -818px 0px;
}
.zxkc a.zx11{
	background-position: -909px 0px;
}
.zxkc a:hover{
	background:url(../images/zxkc/dh.png) no-repeat;
}
.zxkc a.zx1:hover{
	background-position:0px -64px;
}
.zxkc a.zx2:hover{
	background-position: -91px -64px;
}
.zxkc a.zx3:hover{
	background-position: -181px -64px;
}
.zxkc a.zx4:hover{
	background-position: -272px -64px;
}
.zxkc a.zx5:hover{
	background-position: -363px -64px;
}
.zxkc a.zx6:hover{
	background-position: -454px -64px;
}
.zxkc a.zx7:hover{
	background-position: -545px -64px;
}
.zxkc a.zx8:hover{
	background-position: -636px -64px;
}
.zxkc a.zx9:hover{
	background-position: -727px -64px;
}
.zxkc a.zx10:hover{
	background-position: -818px -64px;
}
.zxkc a.zx11:hover{
	background-position: -909px -64px;
}

