#content
{
    width:1000px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2px;
    overflow: hidden;
    border:1px solid #ffd900;
}
#content .bgg
{
    height: 4px;
    width: 952px;
    margin-right: auto;
    margin-left: auto;
}
#content .box
{
    width: 1000px;
    background-image: url("cbg-03.jpg")/*tpa=http://www.semia.com.cn/newimages/cbg-03.jpg*/;
    background-repeat: repeat-y;
    overflow: hidden;
     background-color:#fff;
    padding-bottom: 15px;
}
#content .xstz
{
    min-height:416px;
    background-color:#fff;
    padding-top:80px;
    padding-left:30px;
}
#content .box .head
{
    height: 310px;
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
}
.box .head .lf
{
    height: 300px;
    width: 204px;
    float: left;
    margin-top: 3px;
}
.box .head .lf .tmd
{
    height: 294px;
    width: 205px;
    background-image: url("tbg-03.jpg")/*tpa=http://www.semia.com.cn/newimages/tbg-03.jpg*/;
    background-repeat: repeat-y;
    padding-top: 2px;
}
.box ul li a
{
    text-decoration: none;
    color: #333;
}
.box .head .lf .tmd .tp
{
    width: 190px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    height: 140px;
}
.box .head .lf .tmd .tp .lm
{
    height: 25px;
    width: 160px;
    background-image: url("tbg-04.gif")/*tpa=http://www.semia.com.cn/newimages/tbg-04.gif*/;
    color: #3f8ab0;
    background-repeat: no-repeat;
    font-size: 14px;
    font-weight: bold;
    padding-left: 30px;
    line-height: 25px;
}
.box .head .lf .tmd .tp ul
{
    background-color: #FFF;
    width: 190px;
    height: 120px;
}
.box .head .lf .tmd .tp ul li
{
    font-size: 13px;
    height: 25px;
    width: 150px;
    display: block;
    line-height: 25px;
    text-align: left;
    list-style-type: none;
    background-image: url("chilun.gif")/*tpa=http://www.semia.com.cn/newimages/chilun.gif*/;
    background-repeat: no-repeat;
    background-position: 8px;
    margin-top: 3px;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    overflow: hidden;
    border-bottom-color: #666;
    padding-left: 40px;
    overflow: hidden;
}
.box .head .lf .tmd .tpx
{
    height: 145px;
    width: 190px;
    margin-right: auto;
    margin-left: auto;
}
.box .head .lf .tmd .tpx .lm
{
    height: 25px;
    width: 160px;
    background-image: url("tbg-05.jpg")/*tpa=http://www.semia.com.cn/newimages/tbg-05.jpg*/;
    color: #3f8ab0;
    background-repeat: no-repeat;
    font-size: 14px;
    font-weight: bold;
    padding-left: 30px;
    line-height: 25px;
}
.box .head .lf .tmd .tpx ul
{
    background-color: #FFF;
    width: 190px;
    height: 121px;
}
.box .head .lf .tmd .tpx ul li
{
    font-size: 14px;
    height: 25px;
    width: 150px;
    display: block;
    line-height: 25px;
    text-align: left;
    list-style-type: none;
    background-image: url("chilun.gif")/*tpa=http://www.semia.com.cn/newimages/chilun.gif*/;
    background-repeat: no-repeat;
    background-position: 8px;
    margin-top: 3px;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    border-bottom-color: #666;
    padding-left: 40px;
}
#content .box .head .mid
{
    width: 450px;
    float: left;
    height: 300px;
    margin-top: 3px;
    padding-left: 5px;
}
.box .head .mid .mtp
{
    height: 5px;
    width: 450px;
}
.box .head .mid .mmd
{
    background-image: url("tbg-003.jpg")/*tpa=http://www.semia.com.cn/newimages/tbg-003.jpg*/;
    background-repeat: repeat-y;
    height: 295px;
    width: 450px;
}
.box .head .mid .mmd .mhd
{
    background-image: url("tbg-004.jpg")/*tpa=http://www.semia.com.cn/newimages/tbg-004.jpg*/;
    height: 27px;
    width: 352px;
    margin-right: auto;
    margin-left: auto;
    font-size: 15px;
    font-weight: bold;
    color: #FFF;
    line-height: 27px;
    padding-left: 80px;
}
.box .head .mid .mmd .mct
{
    width: 426px;
    background-color: #bbe0fb;
    height: 258px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 7px;
    padding-left: 6px;
}
#content .box .head .rt
{
    height: 300px;
    width: 269px;
    float: left;
    margin-top: 3px;
    padding-left: 3px;
}
.box .head .rt .ttp
{
    height: 6px;
    width: 269px;
}
.box .head .rt .tmid
{
    height: 293px;
    width: 269px;
    background-image: url("tbg-007.jpg")/*tpa=http://www.semia.com.cn/newimages/tbg-007.jpg*/;
    background-repeat: repeat-y;
}
.box .head .rt .tmid .thd
{
    background-image: url("tbg-008.jpg")/*tpa=http://www.semia.com.cn/newimages/tbg-008.jpg*/;
    height: 25px;
    width: 226px;
    margin-right: auto;
    margin-left: auto;
    font-size: 14px;
    font-weight: bold;
    color: #22769e;
    padding-left: 30px;
    line-height: 25px;
}
.box .head .rt .tmid .tcet
{
    width: 256px;
    height: 268px;
    background-color: #FFF;
    margin-right: auto;
    margin-left: auto;
}
#content .box .mid
{
    width: 935px;
    margin-right: auto;
    margin-left: auto;
    height: 210px;
}
.box .mid .kt
{
    padding-top: 8px;
    padding-left: 3px;
    float: left;
}
.box .mid .phot
{
    width: 600px;
    float: left;
    height: 202px;
    display: block;
    padding-left: 8px;
    padding-top: 3px;
}
.box .mid .phot .ptp
{
    background-image: url("xcbg-01.jpg")/*tpa=http://www.semia.com.cn/newimages/xcbg-01.jpg*/;
    height: 29px;
    width: 600px;
}
.box .mid .phot .pmd
{
    width: 588px;
    height: 165px;
    background-image: url("xcbg-02.jpg")/*tpa=http://www.semia.com.cn/newimages/xcbg-02.jpg*/;
    background-repeat: repeat-y;
    padding-left: 12px;
}
.box .mid .phot .ptp p
{
    font-size: 14px;
    font-weight: bold;
    color: #797979;
    width: 80px;
    height: 19px;
    padding-left: 40px;
    letter-spacing: 2px;
    padding-top: 10px;
    float: left;
}
.box .mid .phot .ptp input
{
    background-image: url("more.jpg")/*tpa=http://www.semia.com.cn/newimages/more.jpg*/;
    height: 19px;
    width: 53px;
    float: right;
    margin-top: 8px;
    margin-right: 15px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    color: #666;
}
.box .mid .phot .pmd .zhp
{
    height: 142px;
    width: 110px;
    float: left;
    margin-top: 4px;
    background-color: #FFF;
    text-align: center;
    padding-top: 15px;
    padding-left: 5px;
}
.mid .phot .pmd .zhp .uu
{
    height: 90px;
    width: 100px;
    padding-top: 10px;
    border: 2px solid #F9C;
}

.box .mid .phot .pmd .zhp .aa
{
    font-size: 13px;
    color: #790668;
    display: block;
    padding-top: 8px;
    text-decoration: none;
}
.box .mid .phot .pmd .zhp .aa:hover
{
    color: #1795F2;
    text-decoration: underline;
}
#content .box .btm
{
    height: 350px;
    width: 935px;
    margin-right: auto;
    margin-left: auto;
}
.box .btm .lf
{
    float: left;
    width: 175px;
    height: 348px;
    padding-left: 16px;
    padding-right: 16px;
}
.box .btm .lf .ltp
{
    width: 175px;
    background-image: url("fbg-01.jpg")/*tpa=http://www.semia.com.cn/newimages/fbg-01.jpg*/;
    height: 32px;
}
.box .btm .lf .lmd
{
    height: 282px;
    width: 175px;
    background-color: #f2f2f2;
}
.box .bbox .blf .dl .dtop
{
    background-image: url("dl-01.jpg")/*tpa=http://www.semia.com.cn/newimages/dl-01.jpg*/;
    height: 32px;
    width: 156px;
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    line-height: 32px;
}
.box .btm .lf .lbt
{
    background-image: url("fbg-02.jpg")/*tpa=http://www.semia.com.cn/newimages/fbg-02.jpg*/;
    height: 29px;
    width: 175px;
    color: #e67d00;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 6px;
    padding-top: 5px;
}
.box .btm .md
{
    height: 310px;
    width: 490px;
    float: left;
    padding-top: 40px;
}
.box .btm .fu
{
    float: left;
    padding-top: 5px;
}
#content .box .sbox
{
    width: 952px;
    overflow: hidden;
}
#content .box .llm
{
    float: left;
    width: 255px;
}
#content .box .wufu
{
    margin-top: 21px;
    margin-left: 9px;
    height: 414px;
    width: 246px;
    display: block;
}
#content .box .llm .bk
{
    background-image: url("lm03.jpg")/*tpa=http://www.semia.com.cn/newcss/images/lm03.jpg*/;
    background-repeat: repeat-y;
    width: 10px;
    margin-left: 234px;
    overflow: hidden;
    height: 430px;
}
#content .box .rlm
{
    float: left;
    width: 697px;
    overflow: hidden;
}
#content .box .rlm .lan
{
    background-image: url("lanmu.jpg")/*tpa=http://www.semia.com.cn/newcss/images/lanmu.jpg*/;
    background-repeat: no-repeat;
    height: 33px;
    width: 494px;
    margin-top: 12px;
    margin-left: 19px;
    font-size: 18px;
    font-weight: bold;
    color: #FFF;
    padding-top: 26px;
    padding-left: 140px;
    margin-bottom: 26px;
}
#content .box .rlm .lan a
{
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 5px;
    text-decoration: none;
    color: #333;
}
#content .box .rlm .mm
{
    display: block;
    height: 22px;
    width: 677px;
}
#content .box .rlm .bg
{
    width: 677px;
    overflow: hidden;
}
#content .box .rlm .bg .bgm
{
    width: 666px;
    float: left;
    overflow: hidden;
}
.sbox .rlm .bg .bgm ul
{
    overflow: hidden;
    width: 666px;
    padding-top: 20px;
}
.sbox .rlm .bg .bgm ul li
{
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    border-bottom-color: #C1DFE1;
    height: 60px;
    padding-top: 10px;
}
.sbox .rlm .bg .bgm ul li h4
{
}
.sbox .rlm .bg .bgm ul li h4 .li_title
{
    font-size: 14px;
    color: #F60;
}
.sbox .rlm .bg .bgm ul li p
{
    margin-top: 22px;
}
#content .box .rlm .bkk
{
    background-image: url("lm04.jpg")/*tpa=http://www.semia.com.cn/newcss/images/lm04.jpg*/;
    background-repeat: repeat-y;
    height: 746px;
    width: 11px;
    float: left;
}
#content .box .mn
{
    margin-left: 234px;
}
#content .box .bbox
{
    width: 1000px;
    overflow: hidden;
}
#icp
{
    float: left;
    margin-top: 10px;
    width: 993px;
    height: 80px;
    font-size: 12px; /*color:#CCC;*/
    color: #333;
    padding-top: 15px;
    text-align: center;
    line-height: 20px;
    border-top: 3px solid #006cba;
}
.box .bbox .blf
{
    width: 680px;
    overflow: hidden;
    float: left;
}
.box .bbox .blf .dl
{
    height: 144px;
    width: 246px;
    margin-left: 320px;
    margin-top: 26px;
    margin-bottom: 10px;
}
.box .bbox .blf .dl .dtop
{
    background-image: url("dl-01-1.jpg")/*tpa=http://www.semia.com.cn/images/dl-01.jpg*/;
    height: 32px;
    width: 246px;
    color: #FFF;
    text-align:center;
    font-size: 16px;
    font-weight: bold;
    line-height: 32px;

}
.box .bbox .blf .dl .ddow
{
    height: 100px;
    width: 244px;
    padding-top: 15px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: none;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-color: #757575;
    border-bottom-color: #757575;
    border-left-color: #757575;
}
.box .bbox .blf .dl .ddow .yh
{
    width: 220px;
    height: 24px;
    color: #630;
    font-size: 13px;
    line-height: 24px;
    padding-left: 15px;
    margin-bottom:4px;

}
.box .bbox .blf .dl .ddow .ww
{
    height: 24px;
    width: 229px;
    line-height: 24px;
    color: #630;
    padding-left: 15px;
    padding-top: 4px;
    text-align:left;
    margin-left:54px;
}
.box .bbox .blf .dl .ddow .ww .ma
{
    margin-top: 2px;
}
.bbox .blf .dl .ddow .ww p
{
    float: left;
    width: 60px;
}
.bbox .blf .dl .ddow .ww .tb
{
    border-style: none;
    border-width: 0px;
background-image: url("anniu.jpg")/*tpa=http://www.semia.com.cn/newimages/anniu.jpg*/;
    background-repeat: no-repeat;
    width: 60px;
    color: #630;
}
.bbox .blf .dl .ddow .ww .mf
{
    text-decoration: none;
    color: #630;
    font-size: 13px;
}
.bbox .blf .dl .ddow .ww .mf:hover
{
    color: #F90;
    text-decoration: underline;
}
.bbox .blf .kke
{
    margin-left: 25px;
    margin-top: 10px;
}