.tab0{
	width:480px;
	overflow: hidden;
	background-color: #f5f5f4;
	height: 300px;
}
.tab0 dl dt{
	height:33px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #EAEAEA;
}
.tab0 dl dt a{
	float:left;
color:#FFFdisplay:block;	cursor:pointer;
	width:96px;
	height:33px;
	line-height:32px;
	text-align:center;
	background-image:url("cdbg-01.jpg")/*tpa=http://www.semia.com.cn/newimages/cdbg-01.jpg*/;
	color:#000;
}
.tab0 dl dt a.tabActive{
	background-image: url("cdbg-02.jpg")/*tpa=http://www.semia.com.cn/newimages/cdbg-02.jpg*/;
	color:#333;
	font-weight:bold;
	border-bottom:1px solid #fff;
	position:relative;
}
.tab0 dl dd{
	padding:10px;
	height:220px;
	clear:both;
}
.box .btm .md .tab0 dl dd ul li {
	list-style-type: none;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #CCC;
	width: 470px;
}
.box .btm .md .tab0 dl dd ul li a {
	background-image: url("jm-01.gif")/*tpa=http://www.semia.com.cn/newimages/jm-01.gif*/;
	background-repeat: no-repeat;
	height: 31px;
	display: block;
	line-height: 31px;
	font-size: 13px;
	padding-left: 25px;
	background-position: 2px;
	width: 360px;
	float: left;
}
.box .btm .md .tab0 dl dd ul li a:hover {
	background-image: url("jm-02.gif")/*tpa=http://www.semia.com.cn/newimages/jm-02.gif*/;
	background-repeat: no-repeat;
	height: 31px;
	display: block;
	line-height: 31px;
	font-size: 13px;
	padding-left: 25px;
	background-position: 2px;
	color: #F60;
	text-decoration: underline;
}
.tab0 dl dd ul li span {
	width: 100px;
	font-size: 12px;
	text-align: right;
	line-height: 31px;
	height: 31px;
	padding-right: 10px;
}
